In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [3]:
data = pd.read_csv('data.csv',sep=";")

In [5]:
data=data.apply(lambda x:x.str.replace(",","."))

In [7]:
type(data.issizlik)

pandas.core.series.Series

In [9]:
type(data.enflasyon)

pandas.core.series.Series

In [11]:
type(data)

pandas.core.frame.DataFrame

In [13]:
data.head(5)

     Tarih enflasyon issizlik
0  2006-01      7.93    10.80
1  2006-02      8.15    10.90
2  2006-03      8.16    10.00
3  2006-04      8.83     9.10
4  2006-05      9.86     8.00

In [15]:
data.tail()

       Tarih enflasyon issizlik
155  2018-12     20.30    13.50
156  2019-01     20.35    14.70
157  2019-02     19.67    14.70
158  2019-03       NaN      NaN
159  2019-04       NaN      NaN

In [17]:
data.columns

Index(['Tarih', 'enflasyon', 'issizlik'], dtype='object')

In [19]:
data.axes

[RangeIndex(start=0, stop=160, step=1),
 Index(['Tarih', 'enflasyon', 'issizlik'], dtype='object')]

In [21]:
data.shape

(160, 3)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tarih      160 non-null    object
 1   enflasyon  158 non-null    object
 2   issizlik   158 non-null    object
dtypes: object(3)
memory usage: 3.9+ KB

In [25]:
data['enflasyon'] = data['enflasyon'].astype('float')

In [27]:
data['issizlik'] = data['issizlik'].astype('float')

In [33]:
data.info() #enflasyon ve işsizlik değişkenlerinin floata dönüştüğünü görmekteyiz

<class 'pandas.core.frame.DataFrame'>
Index: 158 entries, 0 to 157
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Tarih      158 non-null    object
 1   enflasyon  158 non-null    float64
 2   issizlik   158 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.9+ KB

In [31]:
data.dropna(inplace=True)

In [35]:
data.tail()

       Tarih  enflasyon  issizlik
153  2018-10      25.24      11.6
154  2018-11      21.62      12.3
155  2018-12      20.30      13.5
156  2019-01      20.35      14.7
157  2019-02      19.67      14.7